.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
    }
}